@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --body-font-family: 'Poppins', sans-serif;
    --body-font-color: #676767;
    --dark-color: #272157;
    --light-color: #FFFF;
    --accent-color: #97C0A0;
    --section-background-color: #EDEDE9;
}

body, input{
    font-family: var(--body-font-family);
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.grid-container-profile{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
}

.grid-container-profile .sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-container-profile .profile-info{
    grid-column-start: 2;
    grid-column-end: -1;
}

.grid-container-profile .edit-profile-info{
    grid-column-start: 2;
    grid-column-end: -1;
}

.grid-container-profile .last-orders{
    grid-column-start: 2;
    grid-column-end: -1;
}

.sidebar{
    list-style: none;
    position: sticky;
    top: 55px;
    height: 100vh;
    background-color: var(--section-background-color);
}

.sidebar h3{
    font-size: 20px;
    line-height: 6rem;
    padding-left: 10rem;
    user-select: none;
    color: var(--dark-color);
}

.sidebar ul .profile-page, .sidebar ul .last-orders-page{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 4rem;
    font-size: 18px;
    color: var(--body-font-color);
    padding-left: 4rem;
    box-sizing: border-box;
    transition: all 0.3s;
    text-decoration: none;
}

.sidebar ul .restaurant-page{
    padding-left: 1.75rem;
}

.sidebar ul .add-restaurant{
    padding-left: 1rem;
}

.sidebar ul li .add-restaurant-btn, .restaurant-page-btn, .erase-restaurant-btn{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 4rem;
    box-sizing: border-box;
    transition: all 0.3s;
    color: var(--body-font-color);
    background-color: var(--section-background-color);
    font-family: var(--body-font-family);
}

.sidebar ul li a{
    text-decoration: none;
    color: var(--body-font-color);
}

.sidebar ul li .last-orders-page:active{
    background-color: #f5f5f0;
}

.sidebar ul #chevron-right{
    padding-left: 1rem;
    font-size: 14px;
}

.sidebar ul li:hover{
    background-color: #f5f5f0;
}

.sidebar ul li .add-restaurant-btn:hover, .restaurant-page-btn:hover, .erase-restaurant-btn:hover{
    background-color: #f5f5f0;
}

.profile-info, .edit-profile{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 6rem 2rem 0;
    margin-left: 2rem;
}


.edit-profile{
    padding: 0 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.profile-info h2, .edit-profile h2, .last-orders h2{
    font-size: 30px;
    border-bottom: 1px solid var(--section-background-color);
    color: var(--dark-color);
}

.profile-info .info, .edit-profile .input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.profile-info .info span, .edit-profile .input-field{
    max-width: 100%;
    line-height: 50px;
    color: var(--body-font-color);
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid var(--section-background-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.edit-profile .input-field input{
    max-width: 500px;
    width: 100%;
    height: 50px;
    background-color: var(--section-background-color);
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-radius: 55px;
    border-color: var(--section-background-color);
    line-height: 1;
    font-size: 1.6rem;
    color: #787878;
}

.edit-profile .input-field i{
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
}

.edit-profile p{
    color: #9c9a9a;
    font-size: 12px;
}

.profile-info .info label, .edit-profile .input-field label{
    font-weight: bold;
    margin-bottom: 0;
}

.profile-info .info label i, .edit-profile .input-field label i{
    margin-right: 1rem;
}


.edit-profile-btn, .edit-profile .btn-solid, .erase-profile-btn{
    width: 80px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #2f286b;
    color: var(--light-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 6rem;
    transition: all 0.5s;
}

.edit-profile .btn-solid{
    margin-top: 1.5rem;
}

.edit-profile-btn:hover, .edit-profile .btn-solid:hover, .erase-profile-btn:hover{
    background-color: #2f2396;
}

.last-orders{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.last-orders .dishes .order{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.last-orders .dishes .info-order {
    padding-top: 4rem;
    border-top: 1px solid var(--section-background-color);
}

.last-orders .dishes .info-order h3{
    font-size: 20px;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.last-orders .dishes .info-order p{
    margin-top: 0.5rem;
    font-size: 14px;
    color: var(--body-font-color);
}

.last-orders .dishes .info-order label, .last-orders .dishes #price label{
    font-size: 15px;
    font-weight: bold;
}

.last-orders .dishes #price{
    font-size: 15px;
    color: var(--body-font-color);
    margin-bottom: 1rem;
}

.last-orders .dishes .info-dish, .grid-container-rest #menu .order .info-dish{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 10px 0 30px;
    border-radius: 15px;
    height: 260px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.last-orders .info-dish h4, .grid-container-rest #menu .order .info-dish h4{
    color: var(--body-font-color);
    font-size: 12px;
}

.last-orders .info-dish .image, .grid-container-rest #menu .order .info-dish .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last-orders .info-dish img,.grid-container-rest #menu .order .info-dish img{
    grid-column-start: 1;
    margin-left: 2rem;
    width: 260px;
    height: 200px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.last-orders .info-dish .text, .grid-container-rest #menu .order .info-dish .text{
    grid-column-start: 2.25;
    color: var(--body-font-color);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.last-orders .info-dish:hover, .grid-container-rest #menu .order .info-dish:hover{
    background-color: var(--section-background-color);
}


@media (max-width: 768px){
    .sidebar{
        height: 87%;
    }
}

@media (max-width: 991px) {
    .sidebar{
        height: 87%;
    }
}

@media (max-width: 1200px){
    .sidebar{
        height: 87%;
    }

    .sidebar .sidebar-options ul li{
        font-size: 12px;
    }
}